@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    font-size: 18px;
    /*font-family: 'Open Sans';*/
    font-family: 'Montserrat';
    --body-text-primary: #e1e1e7;
    --text-primary: #b6b6b6;
    --text-secondary: #a3eeea;
    --background-primary: #1e1e24; 
    --background-secondary: #141418;
}

.light-blue {
    color: var(--text-secondary);
}

.no-decoration-link {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #141418;
}

.large-text {
    font-size: 3rem;
}

h1, h2, h3, h4, p {
    color: var(--body-text-primary);
    margin: 0;
}

body::-webkit-scrollbar {
    width: .3rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: var(--text-secondary);
}

html {
    margin: 0;
    height: 100%;
}

.header {
    position: absolute;
    top: 11.5%;
    left: 8%;
    right: 8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header h1 {
    font-size: 2.15rem;
    overflow: hidden;
}

.header h1::after {
    background-color: var(--text-secondary);
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    left: 0.5em;
    margin-right: -50%;
}

.main-home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.home-container {
    margin: 0 12.5%;
    text-align: left;
}

.main-home h1 {
    margin-bottom: 2rem;
}

.about-container {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 23%;
}

.about-pic {
    display: inline;
    float: right;
    margin-left: 2rem;
    border-radius: 10%;
    border-style: solid;
    border-color: var(--text-secondary);
}

.about-pic:hover {
    border-style: solid;
    border-width: 3px;
    border-color: var(--body-text-primary);
}

.main-projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.experience-container {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 23%;
}

.experience-item {
    margin-bottom: 4.5rem;
}

.experience-logo:hover {
    transform: scale(1.04);
    border-color: var(--text-secondary);
}

.experience-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 2.5rem;
}

.experience-header-item:last-child {
    margin-left: auto;
}

.experience-item-description {
    margin-top: 1rem;
}

.tech-stack-list {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-start;
}

.tech-stack-item {
    margin-right: 0.5rem;
    padding: 5px;
    border-radius: 15px;
    background: var(--background-primary);
}

.projects-container {
    margin: auto;
    margin-top: 9rem;
    max-width: 600px;
    padding: 20px;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--background-secondary);
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: var(--text-secondary);
    padding: 20px;
    margin-bottom: 2rem;
    transition: .3s;
}

.project-item:hover {
    transform: scale(1.06);
    border-style: solid;
    border-width: 4.5px;
    border-color: var(--text-secondary);
}

.project-item-text {
    margin-top: 1rem;
}

.navbar {
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 3rem;
    position: fixed;
    background: #1e1e24;
    transition: height 250ms ease;
    z-index: 10;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100vw;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 100%;
    transition: 200ms;
}

.nav-item:last-child {
    margin-left: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 100%;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 550ms;
}

.nav-item:hover {
    background: var(--background-secondary);
    transition: 200ms;
}

.nav-link:hover{ 
    filter: grayscale(0%) opacity(1);
    color: var(--text-secondary);
}

.fa-icon {
    width: 1.63rem;
    min-width: 1.63rem;
    height: 1.63rem;
    min-height: 1.63rem;
    color: var(--text-secondary);
    transition: ease-in, 500ms;
}

.navbar:hover .link-text {
    display: block;
}

.nav-link-selected {
    background: var(--background-secondary);
    filter: grayscale(0%) opacity(1);
    color: var(--text-secondary);
}

.nav-name-item {
    background: #1e1e24;
    letter-spacing: 0.2ch;
    height: 100%;
    justify-content: center;
}

.nav-name-item:hover{
    background: #141418;
}

#nav-name-link {
    text-decoration: none;
    width: 20rem;
    transition: 600ms;
}

.name-text {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}

.self-picture {
    transition: ease, 900ms;
}

.navbar:hover .self-picture{
    transform: scale(1.25);
    transition: ease, 900ms;
}

.external-links {
    margin-right: 1.5rem;
}

.external-link {
    margin-left: .75rem;
    transition: 300ms;
}

.fa-icon-external {
    width: 1.25rem;
    min-width: 1.25rem;
    height: 1.25rem;
    min-height: 1.25rem;
    color: var(--text-secondary);
    transition: ease-in, 300ms;
}

#nav-item-external-links:hover{
    background: #1e1e24;
}

.external-link:hover {
    filter: grayscale(100%) opacity(0.7);
    transition: 300ms;
}

.fade-in {
    animation: fadeIn ease-in 1s;
    -webkit-animation: fadeIn ease-in 1s;
    -moz-animation: fadeIn ease-in 1s;
    -o-animation: fadeIn ease-in 1s;
    -ms-animation: fadeIn ease-in 1s;
}

.fade-in-slow {
    animation: fadeIn ease-in 1.25s 3s both;
    -webkit-animation: fadeIn ease-in 1.25s 3s both;
    -moz-animation: fadeIn ease-in 1.25s 3s both;
    -o-animation: fadeIn ease-in 1.25s 3s both;
    -ms-animation: fadeIn ease-in 1.25s 3s both;
}

.fade-in-bottom-fast {
    animation: fadeInBottom ease-in .5s;
    -webkit-animation: fadeInBottom ease-in .5s;
    -moz-animation: fadeInBottom ease-in .5s;
    -o-animation: fadeInBottom ease-in .5s;
    -ms-animation: fadeInBottom ease-in .5s;
}

.fade-in-bottom {
    animation: fadeInBottom ease-in .7s 1s both;
    -webkit-animation: fadeInBottom ease-in .7s 1s both;
    -moz-animation: fadeInBottom ease-in .7s 1s both;
    -o-animation: fadeInBottom ease-in .7s 1s both;
    -ms-animation: fadeInBottom ease-in .7s 1s both;
}

.fade-in-bottom-slow {
    animation: fadeInBottom ease-in .5s 2.25s both;
    -webkit-animation: fadeInBottom ease-in .5s 2.25s both;
    -moz-animation: fadeInBottom ease-in .5s 2.25s both;
    -o-animation: fadeInBottom ease-in .5s 2.25s both;
    -ms-animation: fadeInBottom ease-in .5s 2.25s both;
}

.fade-in-top {
    animation: fadeInTop ease-in .6s;
    -webkit-animation: fadeInTop ease-in .6s;
    -moz-animation: fadeInTop ease-in .6s;
    -o-animation: fadeInTop ease-in .6s;
    -ms-animation: fadeInTop ease-in .6s;
}

.fade-in-from-right {
    animation: fadeInFromRight ease-out .6s;
    -webkit-animation: fadeInFromRight ease-out .6s;
    -moz-animation: fadeInFromRight ease-out .6s;
    -o-animation: fadeInFromRight ease-out .6s;
    -ms-animation: fadeInFromRight ease-out .6s;
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
  
@-moz-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
  
@-webkit-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
  
@-o-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
  
@-ms-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}


@keyframes fadeInBottom {
    0% { 
        opacity:0;
        transform: translateY(100%); 
    }
    100% { opacity:1; }
}
  
@-moz-keyframes fadeInBottom {
    0% { 
        opacity:0;
        transform: translateY(100%); 
    }
    100% { opacity:1; }
}
  
@-webkit-keyframes fadeInBottom {
    0% { 
        opacity:0;
        transform: translateY(100%); 
    }
    100% { opacity:1; }
}
  
@-o-keyframes fadeInBottom {
    0% { 
        opacity:0;
        transform: translateY(100%); 
    }
    100% { opacity:1; }
}
  
@-ms-keyframes fadeInBottom {
    0% { 
        opacity:0;
        transform: translateY(100%); 
    }
    100% { opacity:1; }
}


@keyframes fadeInTop {
    0% { 
        opacity:0;
        transform: translateY(-100%); 
    }
    100% { opacity:1; }
}
  
@-moz-keyframes fadeInTop {
    0% { 
        opacity:0;
        transform: translateY(-100%); 
    }
    100% { opacity:1; }
}
  
@-webkit-keyframes fadeInTop {
    0% { 
        opacity:0;
        transform: translateY(-100%); 
    }
    100% { opacity:1; }
}
  
@-o-keyframes fadeInTop {
    0% { 
        opacity:0;
        transform: translateY(-100%); 
    }
    100% { opacity:1; }
}
  
@-ms-keyframes fadeInTop {
    0% { 
        opacity:0;
        transform: translateY(-100%); 
    }
    100% { opacity:1; }
}

@keyframes fadeInFromRight {
    0% { 
        opacity:0;
        transform: translateX(50%); 
    }
    100% { opacity:1; }
}
  
@-moz-keyframes fadeInFromRight {
    0% { 
        opacity:0;
        transform: translateX(50%); 
    }
    100% { opacity:1; }
}
  
@-webkit-keyframes fadeInFromRight {
    0% { 
        opacity:0;
        transform: translateX(50%); 
    }
    100% { opacity:1; }
}
  
@-o-keyframes fadeInFromRight {
    0% { 
        opacity:0;
        transform: translateX(50%); 
    }
    100% { opacity:1; }
}
  
@-ms-keyframes fadeInFromRight {
    0% { 
        opacity:0;
        transform: translateX(50%); 
    }
    100% { opacity:1; }
}

.highlight {
    background: linear-gradient(
        180deg,
        rgba(255,255,255,0) 50%,
        var(--text-secondary) 
    ); 
}