@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #a3eeea;
}

body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: .5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: var(--text-secondary);
}

.main {
    margin-top: 5rem;
}

.navbar {
    top: 0;
    width: 100vw;
    height: 4rem;
    position: fixed;
    background: #1e1e24;
    transition: height 250ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.nav-item {
    height: 100%;
}

.nav-item:last-child {
    margin-left: auto;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 550ms;
}

#nav-link-pic {
    margin-top: .25rem;
}

#nav-link-pic:hover {
    background: #1e1e24;
}

.nav-link:hover{ 
    filter: grayscale(0%) opacity(1);
    background: #141418;
    color: var(--text-secondary);
}

.fa-icon {
    width: 1.75rem;
    min-width: 1.75rem;
    height: 1.75rem;
    min-height: 1.75rem;
    margin-top: .5rem;
    color: var(--text-secondary);
}

.link-text {
    margin: .25rem 1rem 0rem;
}

.navbar:hover .link-text {
    display: block;
}

.nav-name-item {
    background: #141418;
    letter-spacing: 0.2ch;
    height: 100%;
}

.nav-name-link {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--text-secondary);
    transition: 600ms;
}

.name-text {
    margin: .75rem 1.7rem;
    min-width: 15.5rem;
    width: 15.5rem;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    height: 100%;
    display: block;
}

.self-picture {
    margin-top: 1rem;
    transform: rotate(0deg);
    transition: ease, 900ms;
}

.navbar:hover .self-picture{
    transform: rotate(360deg);
    transition: ease, 900ms;
}

.external-links {
    margin-top: .65rem;
    margin-right: 2rem;
}

.external-link {
    margin-left: 1rem;
}