@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    font-size: 18px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #a3eeea;
    --background-primary: #1e1e24; 
    --background-secondary: #141418;
}

body {
    margin: 0;
    padding: 0;
    background-color: #141418;
}

h1{
    color: white;
}

body::-webkit-scrollbar {
    width: .3rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: var(--text-secondary);
}

.main {
    margin-top: 4.5rem;
}

.navbar {
    top: 0;
    width: 100vw;
    height: 3.5rem;
    position: fixed;
    background: #1e1e24;
    transition: height 250ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.nav-item {
    height: 100%;
    transition: 200ms;
}

.nav-item:last-child {
    margin-left: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 100%;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 550ms;
}

.nav-item:hover {
    background: var(--background-secondary);
    transition: 100ms;
}

.nav-link:hover{ 
    filter: grayscale(0%) opacity(1);
    color: var(--text-secondary);
}

.fa-icon {
    width: 1.75rem;
    min-width: 1.75rem;
    height: 1.75rem;
    min-height: 1.75rem;
    color: var(--text-secondary);
    transition: ease-in, 500ms;
}

.navbar:hover .link-text {
    display: block;
}

.nav-name-item {
    background: #1e1e24;
    letter-spacing: 0.2ch;
    height: 100%;
    justify-content: center;
}

.nav-name-item:hover{
    background: #141418;
}

#nav-name-link {
    text-decoration: none;
    width: 20rem;
    transition: 600ms;
}

.name-text {
    margin: 0rem 1.7rem;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}

.self-picture {
    transform: rotate(0deg);
    transition: ease, 900ms;
}

.navbar:hover .self-picture{
    transform: rotate(360deg);
    transition: ease, 900ms;
}

.external-links {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
}

.external-link {
    margin-left: 1rem;
    align-items: center;
    transition: 300ms;
}

.fa-icon-external {
    width: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
    min-height: 1.5rem;
    color: var(--text-secondary);
    transition: ease-in, 300ms;
}

#nav-item-external-links:hover{
    background: #1e1e24;
}

.external-link:hover {
    filter: grayscale(100%) opacity(0.7);
    transition: 300ms;
}